symbol: BTCUSDT
start_balance: 100000
order_quantity: 0.25
total_quantity_limit: 1
commission: 0.002
kline_interval: 1m
start_date: 2023-05-25
end_date: 2023-07-22
sentiment_data: ./sentiment_data/sentiment_data.csv
logging_level: INFO